<h1>
  "Welcome to"
  <i class="fas fa-book">::before</i>
  <strong>Bookers</strong>
  " !!"
</h1>

<p>
  "In "
  <i class="fas fa-book">::before</i>
  <strong>Bookers</strong>
  ", "
</p>

<p>
  you can share and exchange your opinions , inpressions , and emotions
</p>

<%= link_to "Log In", %> 
<%= link_to "Sign up", %> 