

<table border="1" cellspacing="10" cellpadding="5" width="500">
    <thead>
    <tr>
    <th>User</th>
    <th>Title</th>    
    <th>Opinion</th>
   
    </tr>
    </thead>
<tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.user.name %></td>
      <td><%= book.title %></td>
      <td><%= book.opinion %></td>
    </tr>
  <% end %>
</tbody>
</table>


<%= render 'books/list', book: @book, user: @user %>

